{% extends "animelist/base.html" %}
{% load static %}
{% block page_title %}
    Home - {{ WEBSITE_NAME }}
{% endblock page_title %}
{% block body_content %}
    <header>
        <div class="header_content" id="header_title_section">
            <img src="{% static "animelist/logo.png" %}"
                 alt="{{ WEBSITE_NAME }}-logo"
                 id="header_web_logo">
            <h2 id="header_web_title">{{ WEBSITE_NAME }}</h2>
        </div>
        <div class="header_content" id="header_search_section">
            <i class="nf nf-seti-search"></i>
            <input type="search" placeholder="Type Anime name to search...">
        </div>
        <div class="header_content" id="header_action_buttons">
            <button type="button" class="header_action_buttons btn_category">
                <i class="nf nf-fa-folder_plus"></i>Category
            </button>
            <button type="button" class="header_action_buttons btn_add_anime">
                <i class="nf nf-oct-plus"></i>Add Anime
            </button>
            <!-- User profile with dropdown -->
            <div class="user_profile_wrapper" id="user_profile_wrapper">
                <button type="button"
                        id="user_profile_btn"
                        aria-haspopup="true"
                        aria-expanded="false">
                    <i class="nf nf-fa-circle_user"></i>
                    <!-- Or use an img tag for a real avatar:
                    <img src="{% static "animelist/logo.png" %}" alt="Profile" id="user_profile_icon"> -->
                </button>
                <div class="user_dropdown_menu" id="user_dropdown_menu" role="menu">
                    <div class="user_dropdown_header">
                        <i class="nf nf-fa-circle_user user_dropdown_avatar_icon"></i>
                        <div class="user_dropdown_info">
                            <span class="user_dropdown_name">User1</span>
                            <span class="user_dropdown_sub">user1</span>
                        </div>
                    </div>
                    <div class="user_dropdown_divider"></div>
                    <div class="user_dropdown_body">
                        <button type="button" class="user_dropdown_item" role="menuitem">
                            <i class="nf nf-md-share_all"></i>
                            <span>Share</span>
                        </button>
                        <button type="button" class="user_dropdown_item" role="menuitem">
                            <i class="nf nf-fae-file_import"></i>
                            <span>Import</span>
                        </button>
                        <button type="button" class="user_dropdown_item" role="menuitem">
                            <i class="nf nf-fae-file_export"></i>
                            <span>Export</span>
                        </button>
                        <div class="user_dropdown_divider"></div>
                        <button type="button"
                                class="user_dropdown_item user_dropdown_logout"
                                role="menuitem">
                            <i class="nf nf-md-logout"></i>
                            <span>Logout</span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- end user profile -->
        </div>
    </header>
{% endblock body_content %}
{% block scripts %}
    <script src="{% static 'animelist/header_dropdown.js' %}"></script>
{% endblock scripts %}
